@font-face {
    font-family: 'custom-font';
    src: url('./Norse-Bold.otf');
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: centers;
}

.div-1{
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100%100%;
    min-height: 100vh;
    min-width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.logo{
    font-family: 'custom-font',sans-serif;
    color: aliceblue;
    font-size: 5em;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.credits,a{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 20px ;
}

img{
    height: 130px;
    width: 100px;
}


.sign-up{
    align-self: center;
}

.div-2{
    min-height: 100vh;
    min-width: 55vw;
    background-color: rgb(248, 245, 245);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-data{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;
}

.form{
    display: grid;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 5%;
}

h1{
    padding-top:30px;
}

.header,h1{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin:auto
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7%;
    margin-top:auto;
    margin-bottom: auto;
}

button{
    width: 20%;
    background-color: #596D48;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}